### Objective -> trying to create mnemonics and command groups to easily check with autocomplete
### Sudo ###
alias sudo="sudo "
### List ###
# Human readable ls
alias ls="exa -lh --color=always --group-directories-first --git"
# ls all
alias la="exa -lah --color=always --group-directories-first --git"

### Files ###
# Copy with progress bar
alias cp="rsync -ah --info=progress2"

# mkdir
alias mkdir="mkdir -p"

# Safely delete files
alias rm="echo rm is disabled. Use 'delete' or '/bin/rm' instead"
alias delete="trash-put"
alias restore="trash-restore"

### Package management ###
# mnemonic: pac(package) + operation (eg: paci => package install)
alias paci="sudo pacman -S"
alias pacup="sudo pacman -Syu"
alias pacrem="sudo pacman -Rs"
alias pacautorem="sudo sh -c 'pacman -Qtdq | pacman -Rns -'"
alias pacs="sudo pacman -Ss"
alias pacl="sudo pacman -Qs"

### Network ###
alias ping='ping -c 5'


### Git ###
# mnemonic: sg(short git) + operation (eg: sgup => short git + upload(push))
alias sgup="git push"
alias sgdn="git pull"
alias sgadd="git add"
alias sgcom="sgadd . && git commit"
alias sgsta="git status"
# Clone repo into ~/Repositories and cd to the project
sgcl() {
    mkdir ~/Repositories && cd ~/Repositories
    git clone $1
    cd "$(basename "$1" .git)"
}
