### Objective -> trying to create mnemonics and command groups to easily check with autocomplete
### Sudo ###
alias sudo="sudo "
### List ###
# Human readable ls
alias ls="exa -lh --color=always --group-directories-first --git"
# ls all
alias la="exa -lah --color=always --group-directories-first --git"

### Files ###
# Copy with progress bar
alias cp="rsync -ah --info=progress2"

# mkdir
alias mkdir="mkdir -p"

# Safely delete files
alias rm="echo rm is disabled. Use 'delete' or '/bin/rm' instead"
alias delete="trash-put"
alias restore="trash-restore"

### Package management ###
# mnemonic: pac(package) + operation (eg: paci => package install)
alias paci="sudo apt install"
alias pacup="sudo apt update && sudo apt upgrade -y"
alias pacrem="sudo apt purge"
alias pacclean="sudo apt autoremove"
alias pacs="sudo apt search"
alias pacl="sudo apt list"

### Network ###
alias ping='ping -c 5'

### Git ###
# mnemonic: g(git) + operation (eg: gul => git + upload(push))
alias gul="git push"
alias gdl="git pull"
alias gadd="git add"
alias gcm="git commit"
alias gst="git status"
# Clones a repository into ~/Repositories and cd's to the cloned folder
gcl() {
    mkdir ~/Repositories && cd ~/Repositories
    git clone $1
    cd "$(basename "$1" .git)"
}

gitaliases() {
    echo "\
    - gul:  git push\n\
    - gdl:  git pull\n\
    - gadd: git add\n\
    - gcm:  git commit\n\
    - gst:  git status"
}
